@media all{
	*{
		margin: 0px;
		padding: 0px;
	} 

	@font-face {
	    font-family: 'abelregular';
	    src: url('../fonts/abel-regular-webfont.woff2') format('woff2'),
	         url('../fonts/abel-regular-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	  font-family: 'icomoon';
	  src:  url('../fonts/icomoon.eot?fd5xc');
	  src:  url('../fonts/icomoon.eot?fd5xc#iefix') format('embedded-opentype'),
	    url('../fonts/icomoon.ttf?fd5xc') format('truetype'),
	    url('../fonts/icomoon.woff?fd5xc') format('woff'),
	    url('../fonts/icomoon.svg?fd5xc#icomoon') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.icon-home:before {
	  content: "\e900";
	}
	.icon-user-tie:before {
	  content: "\e976";
	}
	.icon-equalizer2:before {
	  content: "\e993";
	}
	.icon-leaf:before {
	  content: "\e9a4";
	}
	.icon-accessibility:before {
	  content: "\e9b2";
	}
	.icon-menu:before {
	  content: "\e9bd";
	}
	.icon-hipster:before {
	  content: "\e9f9";
	}
	.icon-search:before {
	  content: "\e986";
	}

	video{
		width: 100%;
		height: auto;
	}

	.icon{
		margin-right: 3px;
	}
	html{
		background-image: url(../imagenes/textura_verde.jpg);
		margin-left: auto;
		margin-right: auto; 
	}



	ul{list-style-type: none;}
	li{float: left;}


	body{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 960px;
	}
	/*PRINCIPAL------------------------------*/
	#buscadorheader {
	    background-color: #8a4b08;
	    padding: 6px;
	    text-align: right;
	}
	#buscadorheader input{
	    border: none;
	    height: 30px;
	    margin-right: 5px;
	    vertical-align: middle;
	    padding-left:10px; 
	}
	#buscadorheader span{
	    vertical-align: middle;
	    color: #fff;
	}
	#buscadorheader #facebook{
	    width: 30px;
	    vertical-align: middle;
	}

	#botonescabeza{
		width: 100%;
	 	margin: 0px auto;
	 	overflow: hidden;
	}
	#cabeza li{
		width: 16.65%;
	}
	#cabeza a{
		margin: 0px auto;
	 	width: 100%;
		height: 45px;
		display: block;
	 	font-family: 'abelregular', sans-serif;
	 	color: #fff;
	 	font-size: 18px;
	 	background: #8A4B08;
	 	text-decoration: none;
	 	text-align: center;
	 	padding-top: 20px;
	 	border: 1px white solid;
	}
	#cabeza #teatro{
		font-size: 17px;
	}
	.botones:hover{
		background: #B45F04;
	}
	header{
		margin: 0px auto;
		/*background-image: url(../imagenes/logo.png);*/
	}
	header img{
		width: 100%;
		display: block;
	}
	#fecha img{
		width: 100%;
		display: block;
	}
	#fecha{
		position: relative;
	}
	#clockjavascript{
		position: absolute;
		font-family: 'abelregular', sans-serif;
	    font-size: 25px;
	    bottom: 5px;
	    left: 170px;
	}
	#pueblito{
		background: url(../imagenes/pueblito.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: 0px auto;
		width: 100%;
	}
	#asideindex{
		width: 100%;
	}
	#asideindex img{
		width: 100%;
		display: block;
	}
	#titulop{
		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		display: inline-block;
		color: #fff;
		float: bottom;
		text-align: center;
		padding-top: 390px;
		padding-left: 36px;
	}

	#parrafop{
		font-family: arial, tahoma;
		display: inline-block;
		font-size: 23px;
		float: left;
		width: 93.5%;
		padding-left: 36px; 
		background-color: rgba(255, 255, 255, 0.5);
	}

	#toboganes{
		width: 100%;
		min-height: 160px;
		background-color: #f4f2cf;
		float: left;
	}

	#titulot{
			font-family: 'abelregular', sans-serif;
			font-size: 40px;
			display: inline-block;
			float: left;
			padding-left: 3.7%;
			padding-top: 24px;
			width: 16.6%;
	}
	#parrafot{
		font-family: arial, tahoma;
		display: inline-block;	
		font-size: 16px;
		width: 36.4%;
		min-height: 120px;
		float: left;
		padding-left: 36px;
		padding-top: 24px;
	}
	#toboganes img{
		width: 38.4%;
	}

	#escultura{
		width: 50%;
		min-height: 400px;
		background: url(../imagenes/cacique.jpg);
		background-size: 100%;
		float: left;
	}
	#tituloc{
		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		padding-top: 200px;
		padding-left: 36px;
		color: #fff;
	}
	#parrafoc{
		font-family: arial, tahoma;
		color: #fff;
		display: inline-block;	
		font-size: 16px;
		padding-left: 36px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px; 
		background: rgba(112, 168, 59, 0.8);
		float: left;
	}

	#teatrote{
		width: 50%;
		min-height: 400px;
		background: url(../imagenes/teatro.jpg);
		background-size: 100%;
		float: left;
	}

	#titulote{
		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		display: inline-block;
		padding-top: 260px;
		padding-left: 36px;	
		float: left;
		color: #fff;
	}

	#parrafote{
		font-family: arial, tahoma;
		color: #000;
		display: inline-block;	
		font-size: 20px;
		display: inline-block;
		padding-top: 15px;
		padding-left: 7.5%;
		padding-bottom: 15px;
		float: right;	
		background: rgba(255, 255, 255, 0.5);
		width: 92.5%;
	}	

	footer{
		width: 100%;
		min-height: 350px;
		background-color: #8A4B08;
		float: left;
	}
	#botones_pie a.botonpata{
	 	margin: 0px auto;
	 	width: 100%;
		height: 45px;
		display: block;
	 	font-family: 'abelregular', sans-serif;
	 	color: #fff;
	 	font-size: 24px;
	 	background: #8A4B08;
	 	text-decoration: none;
	 	text-align: center;
	 	padding-top: 20px;
	 	border: 1px white solid;
	}
	#disfruta{
		font-family: 'abelregular', sans-serif;
		font-size: 45px;
		color: #fff;
		padding-top: 85px;	
		display: inline-block;
		float: left;
		width: 34.5%;
	}

	#logopata{
		width: 32.29%;
		padding-left: 3.6%;
		padding-top: 20px;
		display: inline-block;
		float: left;
		vertical-align: center;
	}
	#botones_pie{
		width: 20.83%;
		color: #fff;
		float: left;
	}
	#botones_pie a.botonpata{
		width: 75%;
		height: 25px;
		padding-left: 20%;
		border: none;
		font-size: 20px;
		float: left;
	}

	#direccion{
		font-family: 'abelregular', sans-serif;
		font-size: 25px;
		float: left;
		margin-left: 60px;
		display: inline-block;
		text-align: center;
	}
	#redesociales{
		float: left;
	}
	#redesociales li a{
		padding-top: 0px;
		width: 60px;
		height: 60px;
		border:none;
	}
	#lupa{
		padding-bottom: 5px;
		display: inline-block;
		padding-top:5px;
		padding-left: 10.6%;
		vertical-align: center;
	}
	#buscadorfooter{
		display: inline-block;
	}
	#buscadorfooter{
	    margin-left: 17.18%;
	    margin-top: 15px;
	}
	#buscadorfooter input{
		height: 30px;
		vertical-align: middle;
		margin-right: 5px;
		background-color: #8a4b08;
		border:2px solid #ffffff;
		padding-left: 10px;
		color:#ffffff;
	}
	#buscadorfooter span{
		vertical-align: middle;
		color: #ffffff;
	}
	/*TOBOGANES------------------------------*/
	#video{
	float: left;
	}
	#asidetoboganes{
		float: right;
		width: 31.25%;
		height: 300px; 
		margin-left: 5.2%;
		margin-top: 10px;

	}
	#asidetoboganes img{
		width: 100%;
	}
	#titulotoboganes{

		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		background: rgba(112, 168, 59, 0.8);
		padding-top: 45px;
		padding-left: 36px;
		margin-bottom: 100px;
		
	}

	#video{
		width: 58.3%;
		align-content: center;
		float: center;
		margin: 0px auto;

	}
	#video iframe{
		width: 100%;
	}

	#parrafotobogan{
		
		font-family: arial, tahoma;
		font-size: 18px;
		background: rgba(112, 168, 59, 0.8);
		float: left;
		margin-top: 50px;
		margin-bottom: 80px;
	}
	/*ESCULTURAS------------------------------*/
	#galeria{
		float: left;
		width: 66.66%;
	}
	#asidesculturas{
		width: 31.25%;
		float: right;
		margin-top: 25px;
	}
	#asidesculturas img{
		width: 100%;
	}
	#tituloesculturas{
		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		background: rgba(112, 168, 59, 0.8);
		padding-top: 45px;
		padding-left: 36px;

		margin-bottom: 100px;
	}
	/*TEATRO------------------------------*/
	#video{
		align-content: center;
		float: left;
		margin: 0px auto;
	}

	#asideteatro{
		float: right;
		margin-top: 25px;
	}


	#parrafoteatro{
		font-family: arial, tahoma;
		font-size: 18px;
		background: rgba(112, 168, 59, 0.8);
		float: left;
		margin-top: 50px;
		margin-bottom: 80px;
	}

	#tituloteatro{
		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		background: rgba(112, 168, 59, 0.8);
		padding-top: 45px;
		padding-left: 36px;
		margin-bottom: 100px;
	}
	/*PUEBLITO PAISA------------------------------*/
	#titulopueblito{

		font-family: 'abelregular', sans-serif;
		font-size: 40px;
		background: rgba(112, 168, 59, 0.8);
		padding-top: 45px;
		padding-left: 36px;

		
	}
	#secdere{
		width: 480px;
		height: 390px;
		background: #fff;
		float: left;
	}
	h2{
		font-family: 'abelregular', sans-serif;
		text-align: center;
		padding-top: 36px;
	}
	#parrafodere{
		font-family: arial, tahoma;
		display: inline-block;	
		font-size: 16px;
		width: 430px;
		height: 430px;
		color: #000;
		line-height: 30px;
	padding-left: 36px;
	padding-top: 36px;
	}
	#secizq{
		width: 480px;
		height: 390px;
		background: #fff;
		float: left;

	}
	#parrafoizq{
		font-family: arial, tahoma;
		display: inline-block;	
		font-size: 16px;
		width: 430px;
		color: #000;
		line-height: 30px;
		padding-left: 36px;
		padding-top: 36px;
	}
	#asidepueblito{
		float: left;
	}
	/*CONTACTO------------------------------*/
	#imagencontacto img{
		width: 100%;
	}
	#imagencontacto iframe {
	    width: 100%;
	}
}

/*Responsive
Desktop*/
@media only screen and (min-width: 769px) {
	#pueblito{
		min-height: 600px;
	}
}
/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
	#cabeza a, #botones_pie a.botonpata{
		font-size: 16px;
	}
	#cabeza #teatro{
		font-size: 14px;
	}
	#titulop{
		padding-top: 256px;
	}
	#pueblito{
		min-height: 470px;
	}
	#parrafop{
		font-size: 20px;
	}

	#titulot{
		width: 100%;
	}
	#parrafot{
		padding-top: 0px;
		padding-right: 30px;
		font-size: 13px;
	}
	#toboganes img{
		vertical-align: middle;
	}
	#escultura{
		width: 100%;
	}
	#teatrote{
		width: 100%;
	}

	#disfruta{
		font-size: 15px;
		padding-top: 15px;	
		width: 50%;
		text-align: left;
		vertical-align: middle;
		float: none;
	}

	#logopata{
		width: 26%;
		margin:0 auto;
		padding-left: 0px;
		padding-top: 20px;
		vertical-align: middle;
		float: none;
	}
	#botones_pie{
		width: 50%;
		color: #fff;
		float: left;
	}
	#botones_pie a.botonpata{
		width: 75%;
		height: 16px;
		padding-left: 0px;
		border: none;
		font-size: 15px;
		float: none;
	}

	#direccion{
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
		font-size: 19px;
		float: none;
	}
	#redesociales{
		width: 100%;
		float: none;
		text-align: center;
	}
	#redesociales li{
		float: none;
	}
	#lupa{
		width: 241px;
		margin:0 auto;
		float: none;
		display: block;
		padding-left: 0px;
	}
	/*TOBOGANES*/
	#video{
		float: none;
		width: 100%;
	}
	#video iframe{
		width: 100%;
	}
	#asidetoboganes{
		width: 100%;
		text-align: center;
		float: none;
		margin-left: 0px;
	}
	#asidetoboganes img{
		width: 300px;
	}
	/*ESCULTURA*/
	#galeria{
		float: none;
		width: 100%;
	}
	#asidesculturas{
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 25px;
	}
	#asidesculturas img{
		width: 100%;
	}
	/*TEATRO*/
	#asideteatro{
		text-align: center;
		float: none;
	}
	/*PUEBLITO*/
	#secdere, #parrafodere{
		width: 100%;
		height: auto;
		padding-left: 0px;
	}
	#secizq, #parrafoizq{
		width: 100%;
		height: auto;
		padding-left: 0px;
	}
	#imagenpueblito img{
		width: 100%;
	}
	#asidepueblito img{
		width: 100%;
	}
	#clockjavascript {
	    font-size: 20px;
	    bottom: 3px;
	    left: 130px;
	}
	#buscadorfooter {
	    margin-top: 15px;
	    text-align: right;
	    margin-right: auto;
	    margin-bottom: 30px;
	    margin-left: auto;
	    width: 200px;
	    display: block;
	}
}
/*Cel*/
@media only screen and (max-width: 480px) {
	/*Hamburguesa*/
	.hamburger{
		position:fixed;
	  	background-color: rgba(183, 207, 157, 0.5);
    	border-radius: 10px;
		left:0;
		top:0;
		height: 25px;
		width:30px;
		padding:10px 10px;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
		-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
		transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
		z-index:1002;
		cursor:pointer;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none
	}
	.hamburger.is-active{
	  background-color:none;
	}
	._layer{
		background:#333333;
		margin-bottom:4px;
		border-radius:2px;
		width:28px;
		height:4px;
		opacity:1;
		-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
		-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
		transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	}
	.hamburger:hover .-top{
		-webkit-transform:translateY(-100%);
		-ms-transform:translateY(-100%);
		transform:translateY(-100%);
	}
	.hamburger:hover .-bottom{
		-webkit-transform:translateY(100%);
		-ms-transform:translateY(100%);
		transform:translateY(100%);
		}
	.hamburger.is-active .-top{
		-webkit-transform:translateY(200%) rotate(45deg) !important;
		-ms-transform:translateY(200%) rotate(45deg) !important;
		transform:translateY(200%) rotate(45deg) !important;
	}
	.hamburger.is-active .-mid{
		opacity:0;
	}
	.hamburger.is-active .-bottom{
		-webkit-transform:translateY(-200%) rotate(135deg) !important;
		-ms-transform:translateY(-200%) rotate(135deg) !important;
		transform:translateY(-200%) rotate(135deg) !important;
	}

	#cabeza.is_active{
	  transform: translate3d(0px, 0px, 0px);
	}
	#cabeza{
	    background-color: rgba(255, 255, 255, 0);
	    height: auto;
	    left: 0;
	    overflow-x: hidden;
	    overflow-y: auto;
	    position: fixed;
	    top: 0;
	    transform: translate3d(0px, -100%, 0px);
	    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
	    width: 100%;
	    z-index: 1001;
	}
	#cabeza ul{
	  margin:0;padding:0;
	}
	#cabeza ul li { 
	  list-style: none;
		text-align:center;
		font-family: Verdadna, Arial, Helvetica;
		color:$nav-color-text;
		font-size:1.5rem;
		line-height:3em;
		height:3em;
	  color:#369;
		text-transform:none;
		font-weight:bold;
	}
	#cabeza ul li a{
	  text-decoration:none;
	  color:#369;
	}
	#cabeza ul li a:hover{
	  text-decoration:none;
	  color:#333;
	}
	/*----------*/

	#cabeza li{
		width: 100%;
	}
	#cabeza a{
	 	width: 100%;
	 	height: auto;
	 	font-size: 21px;
	 	padding-top: 12px;
    	padding-bottom: 12px;
	}

	#botones_pie a.botonpata{
		font-size: 13px;
	}
	#cabeza #teatro{
		font-size: 21px;
	}
	#titulop{
		padding-top: 105px;
		padding-left: 3.75%;
		text-shadow: 3px 3px #000000;
	}
	#pueblito{
		min-height: 290px;
	}
	#parrafop{
		font-size: 16px;
		background-color: rgba(255, 255, 255, 0.9);
		padding-left: 3.75%;
	}
	#titulot{
		width: 100%;
	}
	#parrafot{
		width: 93.8%;
		padding-top: 0px;
		padding-right: 3.1%;
		padding-left: 3.1%;
		font-size: 13px;
		min-height: 80px;
	}
	#toboganes img{
		width: 100%;
	}
	#escultura{
		width: 100%;
		min-height: 382px;
	}
	#tituloc{
		padding-top: 135px;
	}
	#teatrote{
		width: 100%;
		min-height: 382px;

	}
	#titulote{
		padding-top: 220px;
	}

	#disfruta{
		font-size: 30px;
		padding-top: 15px;	
		width: 100%;
		text-align: center;
		vertical-align: middle;
		float: none;
	}

	footer{
		text-align: center;
		display: none;
	}
	#logopata{
		width: 32.29%;
		margin:0 auto;
		padding-left: 0px;
		padding-top: 20px;
		vertical-align: middle;
		float: none;
	}
	#botones_pie{
		width: 100%;
		color: #fff;
		float: left;
	}
	#botones_pie a.botonpata{
		width: 75%;
		height: 25px;
		padding-left: 0px;
		border: none;
		font-size: 20px;
		float: none;
	}

	#direccion{
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
		float: none;
	}
	#redesociales{
		width: 100%;
		float: none;
		text-align: center;
	}
	#redesociales li{
		float: none;
	}
	#lupa{
		width: 241px;
		margin:0 auto;
		float: none;
		display: block;
		padding-left: 0px;
	}
	/*TOBOGANES*/
	#titulotoboganes{
		margin-bottom:20px;
	}
	#video{
		float: none;
		width: 100%;
	}
	#video iframe{
		width: 100%;
	}
	#asidetoboganes{
		width: 100%;
		text-align: center;
		float: none;
		margin-left: 0px;
	}
	#asidetoboganes img{
		width: 100%;
	}
	/*ESCULTURA*/
	#tituloesculturas{
		margin-bottom: 20px;
	}
	#galeria{
		float: none;
		width: 100%;
	}
	#asidesculturas{
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 25px;
	}
	#asidesculturas img{
		width: 100%;
	}
	/*TEATRO*/
	#tituloteatro{
		margin-bottom: 20px;
	}
	#asideteatro{
		text-align: center;
		float: none;
	}
	#asideteatro img{
		width: 100%;
	}
	/*PUEBLITO*/
	#secdere, #parrafodere{
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
		height: auto;
	}
	#secizq, #parrafoizq{
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		height: auto;
	}
	#imagenpueblito img{
		width: 100%;
	}
	#asidepueblito img{
		width: 100%;
	}
	#clockjavascript {
	    font-size: 12px;
	    bottom: 2px;
	    left: 85px;
	}
}